/* :root {
    --title-text-color: #212121;
    --subtitle-text-color: #757575;
    --accent-text-color: #2196F3;
    --main-title-color: #FFFFFF;
    --background-color-black: #2F303A;
    --activ-button-color: #188CE8;
    --second-accent-color: rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;
    --border-color: #EEEEEE;
    --svg-color-grey: #afb1b8;
} */

/* body {
    background-color: var(--main-title-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
} */

/* ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.auto {
    cursor: pointer;
} */
/* 
.nav-item.current {
    color: var(--accent-text-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

}

.block {
    display: block;
}

.section {
    padding-bottom: 94px;
}

.border {
    border-bottom: 1px solid var(--border-color);
}

.top {
    display: flex;
    align-items: center;
    flex-direction: row;
}

 */

/* .logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-right: 93px;

}

.logo>.blue,
.header>.blue,
.blue {
    color: var(--accent-text-color);
    text-decoration: none;
}

.contact:hover,
.contact:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}

.nav-list {
    display: flex;
    padding-left: 0px;


}

.nav-item {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    position: relative;

}

.nav-list li:not(:last-child) {
    margin-right: 50px;
}

.nav-list a {
    padding-top: 32px;
    padding-bottom: 32px;
}

.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--accent-text-color);
    border-radius: 2px;
    bottom: 0%;
    left: 0%;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-text-color);
}

.info {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.contact {
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--subtitle-text-color);
    fill: var(--subtitle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;



}

.info a {
    padding-top: 32px;
    padding-bottom: 32px;
}

.info li:not(:last-child) {
    margin-right: 50px;
} */
/* 
.hero {
    background: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;


}

.hero-title {
    max-width: 696px;

    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;


    color: var(--main-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;


}

.hero .btn {
    border-radius: 4px;
    border-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--accent-text-color);
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-family: inherit;
    text-align: center;
    padding: 10px 32px;
}

.hero .btn:focus,
.hero .btn:hover {
    background-color: var(--activ-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

} */
/* 
.close-button {
    margin: 9px 9px;
    background: var(--main-title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;

    transform: scale(1);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(10);


}

.modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: var(--main-title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
   
    position: absolute;
    top: 8px;
    right: 8px;
    
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--activ-button-color);
}

.modal-user input:focus + svg{
    fill: var(--activ-button-color);
}
.modal {
    height: 581px;
    width: 528px;
    background-color: var(--main-title-color);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;

    
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
}

.field-input {
display: block;
text-align: left;
margin-bottom: 10px;

color: var(--subtitle-text-color);
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

}

.field-input:nth-child(5) {
    margin-bottom: 20px;
}

.para-model{
display: block;
width: 100%;
height: 40px;


border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
padding-top: 12px;
padding-bottom: 12px;
}

.field-input input,
.field-input textarea{
outline: none;
}

.field-input input:focus,
.field-input textarea:focus {
    border: 1px solid var(--activ-button-color);
    border-radius: 4px;
}


.para-model-text{
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.textarea placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-user{
    position: relative;
    margin-top: 4px;
}

.accept-title{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--subtitle-text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.accept-title .checkbox:checked + svg{
    background-color: var(--accent-text-color);
}


.checkbox{
  border-radius: 3px;
  border: 2px solid var(--title-text-color);
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accept input:checked + label .checkbox{
background-color: var(--accent-text-color);
border: none;
}

.accept-document{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    padding-left: 2px;

    color: #2196F3;
}

.button-send{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: var(--accent-text-color);
    color: var(--main-title-color);
    margin-top: 34px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-text-color);
  

    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--activ-button-color);
    cursor: pointer;
} */
/* .list-section {
    padding-top: 94px;
    padding-bottom: 47px;

}

/* .icon-modal{
position: absolute;
left: 12px;
top: 30%;

} */

/* .list {
    display: flex;
}

.list li:not(:first-child) {
    margin-left: 30px;
}

.list-item-styles {
    padding: 25px 100px;
    background-color: var(--button-color);
}

.list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.list-text {
    color: var(--subtitle-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;

    min-width: 270px;
} */
 





/* .work-section {
    padding-top: 47px;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.img-list {
    display: flex;
    flex-direction: row;
    padding-left: 0px;


}


.team-border {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px 0px;
    background-color: var(--main-title-color);
}

.img-list li:not(:first-child) {
    margin-left: 30px;
}

.img-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--main-title-color);
    width: 100%;

    padding: 27px 0;
    position: absolute;
    bottom: 0%;
    left: 0%;




}

.img-cover {
    position: relative;
} */







/* .team-items {
    background-color: var(--button-color);
    padding-top: 94px;
    width: 100%;
}

.social-items {
    margin-top: 16px;
    display: inline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.social-item-styles {
    display: flex;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 44px;
    height: 44px;
    padding: 12px 12px;
    background-color: var(--main-title-color);
    fill: var(--svg-color-grey);
    border-radius: 50%;

}

.social-item-styles:hover,
.social-item-styles:focus {
    background-color: var(--accent-text-color);
    fill: var(--main-title-color);
}

.main-title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.container-team {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    gap: 30px;
}

.main-subtitle {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.main-desc {
    color: var(--subtitle-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-align: center;


} */






/* 
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-item-styles {
    border-radius: 4px;
    max-width: 170px;
}

.clients-item {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 170px;
    height: 92px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    fill: var(--svg-color-grey);

}

.clients-item:hover,
.clients-item:focus {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);

}

.clients-items {
    display: flex;
    gap: 30px;
} */




/* .liste {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
} */

/* .container-liste-btn {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 0px;
}

.container-liste-btn button {
    padding: 6px 22px;
}

.container-liste-btn li:not(:first-child) {
    margin-left: 8px;
}

.liste-btn {

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    font-family: inherit;

    border-radius: 4px;
    border-color: transparent;

}

.project-shadow {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project-shadow:hover,
.project-shadow:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-liste {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 30px;
}

.project-subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}


.project-copy {
    color: var(--subtitle-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.project-border {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding: 20px 24px;
}

.liste-btn:hover,
.liste-btn:focus {
    background-color: var(--accent-text-color);
    color: var(--main-title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.holder {
    position: absolute;
    transform: translate(0%);

    text-align: left;
    display: block;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    background: rgba(33, 150, 243, 0.9);

    padding: 63px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project-shadow:hover .holder,
.project-shadow:focus .holder {
    transform: translateY(-100%);
} */

