:root {
    --title-text-color: #212121;
    --subtitle-text-color: #757575;
    --accent-text-color: #2196F3;
    --main-title-color: #FFFFFF;
    --background-color-black: #2F303A;
    --activ-button-color: #188CE8;
    --second-accent-color: rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;
    --border-color: #EEEEEE;
    --svg-color-grey: #afb1b8;
}