.list-section {
    @include paddingtb (60px, 60px);

    @media screen and (min-width:768px) {
        @include paddingtb (60px, 60px);
    }
    
    @media screen and (min-width:1200px) {
            @include paddingtb (94px, 47px);
    
        }
}

.list {

    
    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;

        }
    
    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
        }

     &__frame {
        @media screen and (min-width:768px) and (max-width:1200px) {
                 margin: 15px;
                 width: calc((100% - 2*30px)/2);
        
         }
   }
    
    &__item{
        padding: 25px 190px;
        background-color: var(--button-color);
        display: block;

        @media screen and (min-width:768px) {
                padding: 25px 142px;
                
               
            }
        
        @media screen and (min-width:1200px) {
                padding: 25px 100px;
        
            }
    }
    &__title{
        @include font(700, 14px, 1.14);
        
        letter-spacing: 0.03em;

        @include margintb(30px, 10px);
        text-align: center;

        @media screen and (min-width:768px) {
        text-align: left;
            }
        
        @media screen and (min-width:1200px) {
        text-align: left;
            }
    }
    &__text{
        color: var(--subtitle-text-color);

        @include font(400, 14px, 1.71);
       
        letter-spacing: 0.03em;
        text-align: left;
        
        min-width: 450px;


        @media screen and (min-width:768px) {
            min-width: 354px;
            display: inline-block;
            flex-wrap: wrap;
            }
        
        @media screen and (min-width:1200px) {
            min-width: 270px;
            }
    }
}

.list li{

    &:not(:first-child) {
                    @media screen and (min-width:1200px) {
                        margin-left: 30px;
                        ;
                    }
                }
}

