.team-items {
    background-color: var(--button-color);
    padding-top: 60px;
    width: 100%;
    
    @media screen and (min-width:768px) {
        padding-top: 60px;
        }
    @media screen and (min-width:1200px) {
        padding-top: 94px;
    
        }
}

.container-team {
    display: block;
    padding-left: 0px;

    @media screen and (min-width:768px) and (max-width:1200px){
        display: flex;
            flex-wrap: wrap;
            margin: -15px;
    }

    @media screen and (min-width:1200px) {
      display: flex;
      gap: 30px;
      justify-content: center;
    
        }


    &__worker{
        @media screen and (min-width:768px) and (max-width:1200px) {
            margin: 15px;
            width: calc((100% - 2*30px)/2);
        
            }
    }

}
.icon{
    @media screen and (min-width:1200px) {
           width: 270px;
    
        }
}

.social-page {
    margin-top: 16px;
    display: inline;
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 10px;

    &__item {
            display: flex;
            
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            @include size(44px, 44px);

            padding: 12px 12px;
            background-color: var(--main-title-color);
            fill: var(--svg-color-grey);
            border-radius: 50%;
        
        &:hover,
        &:focus {
            background-color: var(--accent-text-color);
            fill: var(--main-title-color);
                    }
        }
        
        }

.container-team__worker:not(:last-child){
    @media screen and (max-width:767px) {
            margin-bottom: 30px;
        }
}
.team-cards {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-title-color);
    padding: 24px 0px;


    @media screen and (min-width:1200px) {
    padding: 30px 0px;
        }

    &__subtitle {
            color: var(--title-text-color);

            @include font(500, 16px, 1.19);
            
            @include text-align(0.03em, center);
            
            margin-bottom: 10px;
        }
    
    &__desc {
            color: var(--subtitle-text-color);

            @include font(400, 16px, 1.19);

            @include text-align(0.03em, center);
    
        }
}